* {
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
}
body{
	background-image: url('../img/fond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'arial', sans-serif;
	width:100%;
	height:100%;
}

section.layer-1{
	width:100vw;
	height:100vh;
	display:block;
	background-color: #82cc3f;
	position: absolute;
	z-index: 10;
	color:#FFF;
	background-image: url('../img/arbre-fond.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size : auto 80%;
	transition: all 1s ease-in-out;
	
}

.layer-1 p{
	position:absolute;
	top:50px;
}
.layer-1 #arrow{
	position:absolute;
	bottom:50px;
	right:50px;
}

.left{
	left:50px;
}

.right{
	right:50px;
}

.layer-1 h1{
	text-align: center;
	margin-top:50vh;
}
h1 span{
	padding:20px 25px;
	border: 2px solid #FFF;
	font-size: 4.5rem;
}
.layer-1 h2{
	margin-top: 30px;
	text-align: center;
}

.layer-1 img{
	display: block;
	margin:0 auto;
}

#header{
	font-size: 4rem;
}

#parc_infos{
	position: absolute;
	z-index: -9;
	right:50px;
	top:50px;
	text-align: right;
	display: block;
	width:auto;
	animation: animation 1.3565s 1 ease;
}

svg{
	position: absolute;
	top:50%;
	margin-top: -300px;
	right:90px;
	z-index: -10;
	width:800px;
	overflow: visible;
}

canvas{
	position: absolute;
	top:50%;
	margin-top: -300px;
	right:90px;
}

.pollution{
	width:705px;
	height:auto;
	position: absolute;
	bottom:20px;
	left:20px;
}
.line{
	display: inline-block;
	width:50px;
	height:1px;
	border-bottom:5px solid #FFF;
	top:50%;
	margin-top: -2px;
	z-index: -1;
}
.pictos{
	border-radius: 50%;
	border:5px solid #FFF;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	width:100px;
	height:100px;
	display:inline-block;
	position: relative;
	padding: 10px;
	box-sizing:border-box;
	vertical-align: middle;
	transition:all 0.3s ease;
}

.pictos>svg{
	width:50px;
	z-index: 10;
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	left:50%;
	top:50%;
	margin-left: -25px;
	margin-top: -20px;
}

#voiture{
	background-image: url('../img/pictos/Picto-voiture.png');
}
#chauffage{
	background-image: url('../img/pictos/Picto-chauffage.png');
}
#usine{
	background-image: url('../img/pictos/Picto-usine.png');
}
#transport{
	background-image: url('../img/pictos/Picto-avion.png');
}
#agriculture{
	background-image: url('../img/pictos/Picto-tracteur.png');
}

#voiture.active{
	background-image: url('../img/pictos/Picto-voiture-active.png');
}
#chauffage.active{
	background-image: url('../img/pictos/Picto-chauffage-active.png');
}
#usine.active{
	background-image: url('../img/pictos/Picto-usine-active.png');
}
#transport.active{
	background-image: url('../img/pictos/Picto-avion-active.png');
}
#agriculture.active{
	background-image: url('../img/pictos/Picto-tracteur-active.png');
}

.pictos.active{
	border-color: #000;
}

.pictos.active{
	 
}


.pictos img{
	margin:0 auto;
}



/*@-webkit-keyframes animation {
from { -webkit-transform: rotate(0deg) scale(0.789) skew(0deg) translate(-300px); 
		opacity:0;}
to { -webkit-transform: rotate(0deg) scale(0.789) skew(0deg) translate(300px); 
		opacity:1;}
}
@-moz-keyframes animation {
from { -moz-transform: rotate(0deg) scale(0.789) skew(0deg) translate(-300px);
		opacity:0; }
to { -moz-transform: rotate(0deg) scale(0.789) skew(0deg) translate(300px); 
		opacity:1;}
}
@-o-keyframes animation {
from { -o-transform: rotate(0deg) scale(0.789) skew(0deg) translate(-300px);
		opacity:0; }
to { -o-transform: rotate(0deg) scale(0.789) skew(0deg) translate(300px);
		opacity:1; }
}
*/